<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="redicionaProduto()">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button default-href="produto"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Detalhe Produto</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-title>Nome do Produto</ion-title>
    </ion-row>
    <ion-row>
      <ion-col>
        <img alt="Silhouette of mountains"
                  src="https://ionicframework.com/docs/img/demos/card-media.png" />
      </ion-col>
      <ion-col>
        <ion-badge class="danger">Vencido</ion-badge>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>